body{
    font-family: 'Poppins', sans-serif;
}
h1{font-size: 30px;}
h6{font-size: 15px;}
.color-orange{
    color: orange;
}
.link-batton{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;}
.flexible-continer{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 100%;
    padding-left: 5%;
}
.half-width img{
    width:69%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;}

.Middle-section{
    background-image:url("images/shapes/Frame 58.jpg");
    background-repeat: no-repeat;
}
.bottom-section p{ text-align: center;

}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.vitamin-elements{
    width: 40%;
    margin: 5%;
    box-shadow: 3px 4px 10px 0px gray;
    text-align: justify;
    border-radius: 5px;
    height: 100%;
}
.vitamin-elements h4{
    text-align: center;
}
footer{
    text-align: center;
    background-color:black;
    color: white;
}